Part-of-Speech (POS) Tagging
Identifies the grammatical role of each word.

Example: "I eat apples" → I (PRON), eat (VERB), apples (NOUN)

In [6]:
import spacy

In [7]:
import pandas as pd

In [9]:
#need to specify which  model need to use
nlp = spacy.load('en_core_web_sm')

In [11]:
ema_ja = (
    "emma woodhouse, handsome, clever, and rich, with a comfortable home and happy disposition, "
    "seemed to unite some of the best blessings of existence; and had lived nearly twenty-one years "
    "in the world with very little to distress or vex her. she was the youngest of the two daughters "
    "of a most affectionate, indulgent father, and had, in consequence of her sister's marriage, been "
    "mistress of his house from a very early period. her mother had died too long ago for her to have "
    "more than an indistinct remembrance of her caresses; and her place had been supplied by an excellent "
    "woman as governess, who had fallen little short of a mother in affection. sixteen years had miss taylor "
    "been in mr. woodhouse's family, less as a governess than a friend, very fond of both daughters, but "
    "particularly of emma. between them it was more the intimacy of sisters. even before miss taylor had ceased "
    "to hold the nominal office of governess, the mildness of her temper had hardly allowed her to impose any "
    "restraint; and the shadow of authority being now long passed away, they had been living together as friend "
    "and friend, very mutually attached, and emma doing just what she liked, highly esteeming miss taylor’s "
    "judgment, but directed chiefly by her own."
)
print(ema_ja)

emma woodhouse, handsome, clever, and rich, with a comfortable home and happy disposition, seemed to unite some of the best blessings of existence; and had lived nearly twenty-one years in the world with very little to distress or vex her. she was the youngest of the two daughters of a most affectionate, indulgent father, and had, in consequence of her sister's marriage, been mistress of his house from a very early period. her mother had died too long ago for her to have more than an indistinct remembrance of her caresses; and her place had been supplied by an excellent woman as governess, who had fallen little short of a mother in affection. sixteen years had miss taylor been in mr. woodhouse's family, less as a governess than a friend, very fond of both daughters, but particularly of emma. between them it was more the intimacy of sisters. even before miss taylor had ceased to hold the nominal office of governess, the mildness of her temper had hardly allowed her to impose any restraint; and the shadow of authority being now long passed away, they had been living together as friend and friend, very mutually attached, and emma doing just what she liked, highly esteeming miss taylor’s judgment, but directed chiefly by her own.

In [12]:
spacy_doc = nlp(ema_ja)

In [13]:
pos_df = pd.DataFrame(columns=['token', 'pos_tag'])

In [14]:
for token in spacy_doc:
    pos_df= pd.concat([pos_df,pd.DataFrame.from_records([{'token': token.text, 'pos_tag': token.pos_}])],ignore_index=True)

In [15]:
pos_df.head()

       token pos_tag
0       emma   PROPN
1  woodhouse   PROPN
2          ,   PUNCT
3   handsome     ADJ
4          ,   PUNCT

In [16]:
pos_df_counts = pos_df.groupby(['token','pos_tag']).size().reset_index(name='counts').sort_values(by='counts', ascending=False)

In [17]:
pos_df_counts.head()

   token pos_tag  counts
1      ,   PUNCT      19
93    of     ADP      14
60   her    PRON       9
54   had     AUX       8
12   and   CCONJ       8

In [18]:
pos_df_pos_counts = pos_df_counts.groupby(['pos_tag'])['token'].count().sort_values(ascending=False)

In [19]:
pos_df_pos_counts.head()

pos_tag
NOUN    34
VERB    20
ADJ     18
ADV     17
ADP      9
Name: token, dtype: int64

In [20]:
nouns = pos_df_counts[pos_df_counts.pos_tag == 'NOUN'][:10]

In [21]:
nouns

         token pos_tag  counts
51      friend    NOUN       3
53   governess    NOUN       3
135      years    NOUN       2
87      mother    NOUN       2
33   daughters    NOUN       2
7    affection    NOUN       1
16   authority    NOUN       1
40        emma    NOUN       1
37    distress    NOUN       1
48      father    NOUN       1